
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f5f7fa;
}

#root {
  max-width: 1920px;
  width: 100%;

}


.routes__container {
  margin-left: 250px;
  padding: 10px;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .routes__container {
    margin-left: 0;
    margin-bottom: 200px;
    padding-bottom: 200px;
  
  }
}



